* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.1rem;
    text-align: center;
}

.no-type {
    list-style-type: none;
}
        /** Header **/
header {
	height: 4rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(243 244 246);
    background-color: white;
}

        /** Main **/
.logo {
	width: 3rem;
	height: 3rem;
	position: relative;
	left: 175px;
    cursor: pointer;
}

p {
	position: relative;
	left: 190px;
	font-size: 1rem;
	font-weight: 600;
	color: rgb(31 41 55);
}

input {
    height: 2rem;
    margin: 1rem 0;
    font-size: 1.1rem;
}

.block {
    width: 650px;
    margin: 2rem auto;
    display: flex;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

    /* player part */
.block-player {
    width: 40%;
}

.block-player > ul {
    padding: 0.5rem;
    text-align: left;
}

.image {
    height: 150px;
    width:150px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

button {
    width: 100%;
    font-size: 1.1rem;
    padding: 1.1rem;
    cursor: pointer;
    border: none;
}

button:hover {
    font-weight: bold;
    background-color: rgb(192 132 252);
}

    /*statistics part*/
.block-stat {
    width: 60%;
}

select {
    height: 2rem;
    margin: 0.5rem;
}

.display-stat{
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
}